.App {
  text-align: center;
}

.App-header {
  background-color: #50154d;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 1.4rem;
  color: rgb(255, 56, 56);
}
