.customDiceIcon {
    color: rgb(87, 58, 173);
    font-size: 6rem;
}

.customDiceIcon.rolling {
    animation: wiggle  .6s ease-out infinite;
}

@keyframes wiggle  {
    0% { transform: translateX(0%); } 
    15% { transform: translateX(-25%) rotate(-8deg); } 
    30% { transform: translateX(20%) rotate(3deg); } 
    45% { transform: translateX(-15%) rotate(-5deg); } 
    60% { transform: translateX(10%) rotate(2deg); }
    75% { transform: translateX(-5%) rotate(-3deg); }
    100% { transform: translateX(0%); } 
}
.RollDice button {
    color: rgb(255, 255, 255);
    width: 14em;
    padding: 2em;
    border: 0px;
    border-radius:10px;
    background-color: black;
    margin-top: 1em;
    transition: all .3s ease-in;
}

.RollDice button:hover {
    border: 4px solid black;
    border-radius:10px;
    background-color: rgb(87, 58, 173);
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}

.RollDice {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    
}