.Cards-card{
  
        color: rgb(110, 174, 109);
        display: flex;
        background-color: rgb(45, 45, 109);
        font-size: 1.2rem;
        width: 150px;
        height: 150px;
        margin: 10px;
        padding: 20px;
        border-radius: 18px;
        box-shadow: 11px 11px 15px 10px rgba(0,0,0,0.62);

}